a{
    font-family: sans-serif;
    text-decoration: none;

}
.black-button{
    border: 2px solid black;
    color: black;
    padding: 10px 15px;
    margin: 10px;
}
.yellow-button{
    border: 2px solid gold;
    color: black;
    padding: 10px 15px;
    margin: 10px;
}
.red-button{
    border: 2px solid red;
    color: black;
    padding: 10px 15px;
    margin: 10px;
}
.blue-button{
    border: 2px solid blue;
    color: black;
    padding: 10px 15px;
    margin: 10px;
}
.background-black-button{
    background-color: rgb(70, 66, 66);
    color: white;
    padding: 10px 15px;
    margin: 10px;
}
.background-yellow-button{
    background-color: yellow;
    color: black;
    padding: 10px 15px;
    margin: 10px;

}
.background-red-button{
    background-color: red;
    color: white;
    padding: 10px 15px;
    margin: 10px;

}
.background-grey-button{
    background-color: rgba(128, 128, 128, 0.767);
    color: black;
    padding: 10px 15px;
    margin: 10px;
}
.background-blue-button{
    background-color: rgba(75, 101, 247, 0.815);
    color: white;
    padding: 10px 15px;
    margin: 10px;
}
.button-1{
    color: white;
    background-color: black;
    padding: 15px 25px;
    border-radius: 10px 10px 10px 0px; 
}
.button-2{
    color: white;
    background-color: black;
    padding: 15px 25px;
    border-radius: 10px 10px 0px 10px;
}
.button-3{
    color: white;
    background-color: black;
    padding: 15px 25px;
    border-radius: 10px 0px 10px 10px;
}
.button-4{
    color: white;
    background-color: black;
    padding: 15px 25px;
    border-radius: 0px 10px 10px 10px;

}
.button-5{
    color: white;
    background-color: black;
    padding: 15px 25px;
    border-radius: 10px 10px 0px 0px;
}
.button-6{
    color: white;
    background-color: black;
    padding: 15px 25px;
    border-radius: 0px 0px 10px 10px;
}
.button-7{
    color: white;
    background-color: black;
    padding: 15px 25px;
    border-radius: 10px 0px 0px 10px;
}
.button-8{
    color: white;
    background-color: black;
    padding: 15px 25px;
    border-radius: 0px 10px 10px 0px;

}
.button-one{
    background-color: rgba(192, 19, 19, 0.979);
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
}
.button-two{
    background-color: rgba(0, 0, 255, 0.801);
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
}
.button-three{
    background-color: darkgreen;
    color: white;
    padding: 15px 25px;
    border-radius: 15px;
}
.button-four{
    background-color: rgba(126, 139, 8, 0.973);
    color: white;
    padding: 15px 25px;
    border-radius: 20px;
}
.blue{
    background: white;
    color: grey;
    padding: 5px 8px;
    border-radius: 0px;
}
.mini-button{
    background-color: rgb(87, 96, 223);
    color: white;
    padding: 8px 10px;
}
.default-button{
    background-color: rgb(87, 96, 223);
    color: white;
    padding: 10px 15px;
}
.large-button{
    background-color: rgb(87, 96, 223);
    color: white;
    padding: 20px 25px;
}
.mini-rounded{
    background-color: rgb(87, 96, 223);
    color: white;
    padding: 5px 8px;
    border-radius: 10px 10px;
}
.default-rounded{
    background-color: rgb(87, 96, 223);
    color: white;
    padding: 10px 15px;
    border-radius: 15px 20px;
}
.large-rounded{
    background-color: rgb(87, 96, 223);
    color: white;
    padding: 25px 30px;
    border-radius: 20px 25px;
}

